div .location {
	background-color: blue;
	display: flex;
	align-items: center;
	justify-content: center;

}


.active{
	background-color: red;
}

.column {
	background-color: grey;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	align-items: center
}

.white{
	background-color: white;
}

.black{
	background-color: black;
}

.container {
	background-color: grey;
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}