:root {
  font-size: 1vmin;
}

.App {
	display: flex;
	justify-content: center;
  text-align: center;
  height: 100vmin;
  width: 100vw;
  background-color: grey;
}

.player {
  position: absolute;
  height: 5rem;
  width: 5rem;
  background-color: red;
  z-index: 1;
}

.platform {
	position: absolute;
	height: .5rem;
	width: 5rem;
	background-color: black;
}